.invisible {
  visibility: hidden !important;
}

.m_one.hidden,
.hidden {
  display: none !important;
}

.teambg {
  /*filter: blur(20px);
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  opacity: 0.3;*/
}


/* RANGE bet */


input[type=range] {
  -webkit-appearance: none;
  /*margin: 18px 0;*/
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height:1px;
  cursor: pointer;
  animate: 0.2s;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  /*background: #ffffff;*/
  background: #09f;
  /*border-radius: 1.3px;*/
  /*border: 1px solid #010101;*/
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  /*border: 1px solid #000000;*/
  height: 26px;
  width: 26px;
  border-radius: 30px;
  /*background: #ffffff;*/
  background: #09f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #09f;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #09f;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 2px;
  /*background: #ffffff;*/
  background: #09f;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  /*border: 0.2px solid #010101;*/
  /*border-radius: 2.6px;*/
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  /*border: 0.2px solid #010101;*/
  /*border-radius: 2.6px;*/
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 26px;
  border-radius: 30px;
  /*background: #ffffff;*/
  background: #304FFE;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}





/*  RANGE goals  */

input.ingoals[type=range] {
  -webkit-appearance: none;
  /*margin: 18px 0;*/
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid  transparent;
}
input.ingoals[type=range]:focus {
  outline: none;
}
input.ingoals[type=range]::-webkit-slider-runnable-track {
  width: 14.66%;
  height:1px;
  cursor: pointer;
  animate: 0.2s;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: transparent;
  /*border-radius: 1.3px;*/
  /*border: 1px solid rgba(0, 0, 0, 0.0);*/
}
input.ingoals[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  /*border: 1px solid #000000;*/
  width: 14.66%;
  height: 40px;
  border-radius: 2px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}
input.ingoals[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}
input.ingoals[type=range]::-moz-range-track {
  width: 32.3%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: transparent;
  border-radius: 1.3px;
  /*border: 0.2px solid transparent;*/
}
input.ingoals[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid transparent;
  width: 14.66%;
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
}
input.ingoals[type=range]::-ms-track {
  width: 32.3%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background-color: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input.ingoals[type=range]::-ms-fill-lower {
  background: transparent;
  /*border: 0.2px solid #010101;*/
  /*border-radius: 2.6px;*/
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input.ingoals[type=range]::-ms-fill-upper {
  background: transparent;
  /*border: 0.2px solid #010101;*/
  /*border-radius: 2.6px;*/
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
}
input.ingoals[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid transparent;
  width: 32.3%;
  height: 40px;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
}
input.ingoals[type=range]:focus::-ms-fill-lower {
  background: transparent;
}
input.ingoals[type=range]:focus::-ms-fill-upper {
  /*background: transparent;*/
  /*border: 1px solid transparent;*/
}



/*INGOALS2, 3 цифры*/
.ingoals.ingoals2[type=range]::-webkit-slider-runnable-track {
  width: 33%;
}
.ingoals.ingoals2[type=range]::-webkit-slider-thumb {
  width: 33%;
}
.ingoals.ingoals2[type=range]::-moz-range-track {
  width: 33%;
}
.ingoals.ingoals2[type=range]::-moz-range-thumb {
  width: 33%;
}
.ingoals.ingoals2[type=range]::-ms-track {
  width: 33%;
}
.ingoals.ingoals2[type=range]::-ms-thumb {
  width: 33%;
}



/*INGOALS круглый, 5 цифр иконка стрелочка вверх */
input.ingoals.ingoals_o[type=range] {
  -webkit-appearance: none;
  /*margin: 18px 0;*/
  width: 100%;
  /*background-color: #E5E5E5;*/
  border-bottom: 1px solid  transparent;
  border: 1px solid  transparent;
  background-color: : transparent;
}

.ingoals.ingoals_o[type=range]::-webkit-slider-runnable-track {
  background-color: #FFFFFF;
}
.ingoals.ingoals_o[type=range]::-webkit-slider-thumb {
  height: 26px;   width: 26px;
  margin-top: -12px;
  border-radius: 40px;
  background-color: #FFFFFF;
  background-image: url('https://daks2k3a4ib2z.cloudfront.net/56b073c4666c49ce174f499c/571a79366698e01d643af8f4_artop.svg') !important;
  background-size: 10px  !important;
  background-position: 50% 45%  !important;
  background-repeat: no-repeat;
}
.ingoals.ingoals_o[type=range]::-moz-range-track {

}
.ingoals.ingoals_o[type=range]::-moz-range-thumb {
  height: 26px;   width: 26px;
  margin-top: -12px;
  border-radius: 40px;
  background-color: #FFFFFF;
  background-image: url('https://daks2k3a4ib2z.cloudfront.net/56b073c4666c49ce174f499c/571a79366698e01d643af8f4_artop.svg') !important;
  background-size: 10px  !important;
  background-position: 50% 45%  !important;
  background-repeat: no-repeat;
}
.ingoals.ingoals_o[type=range]::-ms-track {

}
.ingoals.ingoals_o[type=range]::-ms-thumb {
  height: 26px;   width: 26px;
  margin-top: -12px;
  border-radius: 40px;
  background-color: #FFFFFF;
  background-image: url('https://daks2k3a4ib2z.cloudfront.net/56b073c4666c49ce174f499c/571a79366698e01d643af8f4_artop.svg') !important;
  background-size: 10px  !important;
  background-position: 50% 45%  !important;
  background-repeat: no-repeat;
}

/*Стрелочки < > */
.ingoals_arleft[type=range]::-webkit-slider-thumb,
.ingoals_arleft[type=range]::-moz-range-thumb,
.ingoals_arleft[type=range]::-ms-thumb
{
  background-image: url('https://daks2k3a4ib2z.cloudfront.net/56b073c4666c49ce174f499c/5717883609ecd16b4dd45da4_lr.svg') !important;

}


/*Стрелочка вверх*/

.ingoals_artop[type=range]::-webkit-slider-thumb,
.ingoals_artop[type=range]::-moz-range-thumb,
.ingoals_artop[type=range]::-ms-thumb
 {
  background-image: url('https://daks2k3a4ib2z.cloudfront.net/56b073c4666c49ce174f499c/571a79366698e01d643af8f4_artop.svg') !important;
  background-size: 10px  !important;
  background-position: 50% 45%  !important;
  background-repeat: no-repeat;
}


/*INGOALS круглый, 5 цифр БЕЗ ИКОНКИ */

.ingoals_o0_thumb {
  height: 26px;   width: 26px;
  margin-top: -19px;
  position: absolute;
  right: 0;
  border-radius: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  /*-webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  transform: translate(-30px, 0);*/
}

input.ingoals.ingoals_o0[type=range] {
  -webkit-appearance: none;
  /*margin: 18px 0;*/
  width: 100%;
  /*background-color: #E5E5E5;*/
  border-bottom: 1px solid  #fff;
}

.ingoals.ingoals_o0[type=range]::-webkit-slider-runnable-track {

}


.ingoals.ingoals_o0[type=range]::-webkit-slider-thumb {
  height: 26px;   width: 26px;
  margin-top: -12px;
  border-radius: 40px;
  background-color: #FFFFFF;
}
.ingoals.ingoals_o[type=range]::-moz-range-track {

}
.ingoals.ingoals_o0[type=range]::-moz-range-thumb {
  height: 26px;   width: 26px;
  margin-top: -12px;
  border-radius: 40px;
  background-color: #FFFFFF;
}
.ingoals.ingoals_o0[type=range]::-ms-track {

}
.ingoals.ingoals_o0[type=range]::-ms-thumb {
  height: 26px;   width: 26px;
  margin-top: -12px;
  border-radius: 40px;
  background-color: #FFFFFF;
}





.m_m_tota_numbers {
  pointer-events: none;
}




.mrk_33.active,
.mrk_33.active .prc_1 {
  /*color: #00b100;*/
}

.mrk_33.active .mrk_h2,
.mrk_33.active .mrk_h22,
.mrk_33.active .mrk_2div {
  /*color: #00b100;*/
}


.srch {
    background: transparent;
    border: none;
}

.srch.srchinp {
    position: relative;
    z-index: 99;
    width: 90%;
    height: 34px;
    font-size: 18px;
    font-family: "Roboto", Arial;
    color: white
}

.srch.srchmbetmanual {
  color: black;
  font-weight: 500;
}

.srch:focus {
    outline: none;
}

.srch:-webkit-input-placeholder {
   color: #ffffff;
}

.srch:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;
}

.srch:-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;
}

.srch:-ms-input-placeholder {
   color: #ffffff;
}

.srch:placeholder-shown {
  color: #ffffff;
}




.main_top_logo {
  display:inline-block;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}